		body {
			background-color: #D2B48C; /* A nice blue color */
		}
		.sticky-top {
			background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
		}
        .map {
            height: 600px; /* The height of the map */
        }
		 .card-body {
        text-align: center;
		background-color: #F5F5DC;		/* Center text and images */
		}
		.card img {
        max-width: 100%; /* Ensure the image is responsive */
        height: auto; /* Maintain aspect ratio */
		}
		
		.search-container {
		position: relative; /* Position relative to contain the absolute positioning of suggestions */
		}

		.suggestions-list {
			max-height: 200px; /* Limit the height of the suggestions */
			overflow-y: auto; /* Enable scrolling if there are many suggestions */
			border: 1px solid #ccc; /* Border for the suggestions box */
			background: white; /* Background color */
			position: absolute; /* Position it absolutely */
			z-index: 1000; /* Ensure it appears above other elements */
			width: 100%; /* Match the width of the search bar */
			margin-top: 0; /* No margin to align directly below the search bar */
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better visibility */
		}	

		.suggestion-item {
			padding: 8px; /* Padding for each suggestion */
			cursor: pointer; /* Pointer cursor on hover */
		}

		.suggestion-item:hover {
			background-color: #f0f0f0; /* Highlight on hover */
		}
		.card-custom {
			background-color: #F5F5DC; /* Dark brown color */
			color: black; /* Change text color to white for better contrast */
		}
		.navbar-custom {
			background-color: #F5F5DC; /* Tan color */
			color: black; /* Dark text for better readability */
		}
		 /* Basic styles for the map container */
    #map-container {
        position: relative;
        width: 100%; /* Full width */
        height: 75vh; /* Full height of the viewport */
    }

    /* Optional: Adjust height for smaller screens */
    @media (max-width: 768px) {
        #map-container {
            height: 50vh; /* 50% of the viewport height on smaller screens */
        }
    }

    @media (max-width: 480px) {
        #map-container {
            height: 30vh; /* 30% of the viewport height on very small screens */
        }
    }